spring:
  datasource:
    url: jdbc:sqlserver://localhost:1435;databaseName=LoanDatabaseV2;encrypt=true;trustServerCertificate=true
    username: bot1
    password: P@ssw0rd
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  
  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
  
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: 04f199d623e1e97ea9a510b3c6e32e72
    password: YOUR_MAILTRAP_PASSWORD_HERE
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  
  # Redis Configuration
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000
  
  cache:
    type: redis
    redis:
      time-to-live: 600000  # 10 minutes in milliseconds

server:
  port: 8081

# JWT Security Configuration
app:
  security:
    jwt:
      secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration-seconds: 86400  # 24 hours
